.nav li{
    display: inline;
}

.nav a {
    color: slategrey;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.menu-bar{
    border-bottom-color: darkslateblue;
    border-bottom: groove darkslateblue;
}