h3{
    font-family: 'Oxygen', sans-serif;
    color: lightseagreen;
}

body {
    padding-top: 70px;
}

.navbar {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.nav a {
    color: darkslateblue;
    font-size: 17px;
    padding: 14px 10px;
    text-transform: uppercase;
}

.menu-bar{
    border-bottom: groove darkslateblue;
}

#about{
    margin: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.about-us{
    padding: 10px;
}

.vision{
    color: slateblue;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
