h3{
    font-family: 'Oxygen', sans-serif;
    color: lightseagreen;
}

a{
    color: deeppink;
}

a:visited{
    color: deeppink;
}


a:hover{
    color: hotpink;
    text-decoration: none;
}

body {
    padding-top: 70px;
}

.navbar {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.nav a {
    color: darkslateblue;
    font-size: 17px;
    padding: 14px 10px;
    text-transform: uppercase;
}

.menu-bar{
    border-bottom: groove slateblue;
}

#about{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.page-text{
    padding: 10px;
}

.vision{
    color: slateblue;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

#event{
    font-size: 15px;
    background-color: #ededed;
    margin-bottom: 10px;
}

#signup li{
    display: inline;
}

#contact{
    background-color: #ededed;
    border-top: solid 1px #9d9d9d;
}
